
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-primary;
    
  }
}
body{
  text-decoration: none;
}
body a {
  text-decoration: none;
}
body span {
  text-decoration: none;
}
body div{
   text-decoration: none;
}
body link{
  text-decoration: none;
}